{% load static %}
<!doctype html>
<html lang="en">
		
<head>
<meta charset="utf-8">
<title>Funny Vocab</title>
			
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.singlePageNav.min.js'%}"></script>
        <link rel="stylesheet" href="{%static 'css/style tks.css'%}">
</head>
<body>
        <p>Co cai  quan dui</p>
</body>

</html>
