{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Funny Vocab</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{% static 'homepage/css/animate.min.css'%}">
		<link rel="stylesheet" href="{% static  'homepage/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static  'homepage/css/font-awesome.min.css'%}">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
		<script src="{% static  'js/jquery.js'%}"></script>
		<script src="{% static  'js/bootstrap.min.js'%}"></script>
		<script src="{% static  'js/typed.js'%}"></script>
		<script src="{% static  'js/wow.min.js'%}"></script>
		<script src="{% static  'js/custom.js'%}"></script>
	</head>
	<body id="top">

		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

        <!-- start header -->
        <header>
           <div class="top_header">
            <div class="container">
                <div>
                    <div class="col-sm-4 col-xs-12">
                      <p><em class="fa fa-phone"></em><span> Phone</span>123 456 789</p>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <p><i class="fa fa-envelope-o"></i><span> Email</span><a href="#">Funnyvocab@gmail.com</a></p>
                    </div>
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <ul class="social-icon">
                            <li><span>Meet us on</span></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                            <li><a href="#" class="fa fa-youtube"></a></li>
                        </ul>
                </div>
                  <div class="col-md-5 col-sm-4 col-xs-12" style="text-align: right";>
                <div class="text">
                    <input type="search" placeholder="Bạn muốn tìm kiếm" style="margin-top: 10px;width: 250px;height: 30px; border: 2px solid #A9A9A9;border-radius: 12px;">
                    <button class="btn btn-danger" style="font-size: 12px" ><em class="fa fa-search" aria-hidden="true"></em> Search</button>
				</div>
			</div>
            </div>
            </div>
        </header>
        <!-- end header -->

    	<!-- start navigation -->
		<nav class="navbar navbar-default templatemo-nav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="{% url 'homepage' %}" class="navbar-brand">Funny Vocab</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a  href="index.html">HOME</a></li>
						<li><a href="grammer.html">GRAMMER</a></li>
						<li><a href="listening.html">LISTENING</a></li>
						<li><a  href="reading.html">READING</a></li>
						<li><a href="writing.html">WRITING</a></li>
						<li><a  href="#contact">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<img src="{% static  'homepage/images/learning e.webp' %}" width="1350px" height="500px">
		<!-- start home -->
    	<section id="home">
    				<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">WELCOME TO <span>FUNNY VOCAB</span></h1>
    					<div class="element">
                            <div class="sub-element">If you are not willing to learn, no one can help you.</div>
                            <div class="sub-element">If you are determined to learn, no one can stop you.</div>
                            <div class="sub-element">Never stop learning because life never stop teaching!</div>
                        </div>
    					<a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">GET STARTED</a>
    				</div>
				</div>
    		</div>
    	</section>
				<!-- end home -->
				<!-- start about-->
				<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">WE ARE <span>FUNNY VOCAB</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-question-circle"></i>
								</div>
								<h3 class="media-heading">WHY ARE YOU LEARNING ENGLISH?</h3>
							</div>
							<div class="media-body">
								<p>English is currently the most widely used language.<br/>
								English offers many career opportunities.<br/>
								Acquire rich knowledge from the outside.<br/>
								English helps you perfect yourself.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-book"></i>
								</div>
								<h3 class="media-heading">HOW TO LEARN ENGLISH?</h3>
							</div>
							<div class="media-body">
								<p>Learning vocabulary by topic.<br/>
								Talking a lot.<br/>
								Learning English through short stories.<br/>
								Practice writing notes.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left"><em class="fa fa-comment-o"></em></div>
								<h3 class="media-heading">FREE SUPPORT</h3>
							</div>
							<div class="media-body">
								<p>When studying with friends, you will discuss lessons more freely. As a result, you gain a new approach from your classmate.<br/>
								Please contact with us!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end about -->
    	
    		<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>FUNNY VOCAB TEAM</span></h2>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
						<form method="post" action={% url 'feedback' %}> 
						    {% csrf_token %}
							<label for="id_name">Name</label> 
							<input type="text" class="form-control" name="name" maxlength="25" required id="id_name">

							<label for="id_email">Email</label> 
							<input type="email" class="form-control" name="email" maxlength="121" required id="id_email">
							
							<label for="id_message">Message</label> 
							<textarea name="message" rows="4" class="form-control" required id="id_message"></textarea>
    										
                            <input type="submit" class="form-control"> 
    					</form>
    				</div>
    				<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title">OUR ADDRESS</p>
    						<span>Ho Chi Minh City.</span>
    						<p><i class="fa fa-phone"></i> 123 456 789</p>
    						<p><i class="fa fa-envelope-o"></i> Funnyvocab@gmail.com</p>
    						<p><i class="fa fa-map-marker"></i> Ho Chi Minh City</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<li><a href="#" class="fa fa-facebook"></a></li>
    						<li><a href="#" class="fa fa-twitter"></a></li>
    						<li><a href="#" class="fa fa-youtube"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

    
</body>
</html>
