<!doctype html>
<html lang="en">
		
<head>
<meta charset="utf-8">
<title>Funny Vocab</title>
			
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.singlePageNav.min.js"></script>
        <link rel="stylesheet" href="css/style tks.css">
</head>
<body>
			<img src='images/tksyou1.jpg' width="1365px" height="300px">
					
					<div class="container">
   					
    		
    					<h1 style="color:whitesmoke; background-color: lightskyblue; text-align:center">We will reply you soon! </h1>
    		</div>
    		<img src='images/mail-icon-ios-7.png' width="500" height="250" class="cangiua">
</body>

</html>
